@font-face {
    font-family: Roboto;
    src: url('assets/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-Thin;
    src: url('assets/fonts/Roboto-Thin.ttf') format('truetype');
}

*{
    font-family: Roboto;
    font-size: 1vw;
    margin: 0;
}

html{
    background-color: #C1C3F1;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: fit-content;
}

h1{
    font-family: Roboto-Thin;
    font-size: 5vw;
}

h2{
    font-size: 3.5vw;
}

h3{
    font-size: 3vw;
}

.header{
    background-color: #1E1F38;
    border-bottom: 1px solid #C1C3F1;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header h1{
    color: #E8F2BE;
}

.header svg{
    color: #E7E8FC;
    background-color: #1E1F38;
}

.header div{
    display: flex;
    align-items: center;
}

.header img{
    padding: 0.5vh;
}

.container{
    display: flex;
    height: 175vh;
}

.header .menu-hamburguesa{
    flex-direction: column;
    width: 10vw;
    margin-top: 1vw;
}

.header .menu-desplegado {
    background-color: #E7E8FC;
    display: none;
    width: 30vw;
    flex-direction: column;
    margin-left: 20vw;
}

.menu-desplegado h3{
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.menu-desplegado h2{
    margin-top: 1vh;
}

.header .menu-hamburguesa input#menu{
    opacity: 0.1;
    cursor: pointer;
    display: none;
}

.header .menu-hamburguesa input#menu:checked~.menu-desplegado{
    display: flex;
}

nav{
    width: 10vw;
    height: 100vh;
    margin-top: 5vh;
    background-color: #0A0B20;
    color: #EAD7D3;
    text-indent: -99999px;
    position: fixed;
    left: 0;
    z-index: 9;
}

nav:hover{
    width: fit-content;
    text-indent: 0px;
}

nav ul{
    padding: 5vw;
    padding-left: 2vw;
}

nav li{
    display: flex;
    margin-bottom: 3vh;
}

nav:hover li img{
    padding-right: 10vw;
}

.carrusel-container{
    overflow-x: hidden;
    width: 90vw;
    height: fit-content;
    position: absolute;
    margin: 10px;
    margin-top: 6vh;
    margin-right: 0px;
    margin-left: 11vw;
    z-index: -1;
}

.carrusel-container h2{
    padding-bottom: 0.5vh;
    padding-left: 0.5vh;
}

.carrusel-container div{
    margin-bottom: 2vh;
}

.carrusel{
    display: flex;
}


.carrusel img{
    width: 25vw;
    object-fit: cover;
    height: 8vh;
    border-radius: 10px;
    margin-right: 5px;

}

.carrusel.destacado img{
    min-height: fit-content;
    width: 25vw;
    height: 15vh;
}

footer{
    background-color: #1E1F38;
    height: 75vh;
    width: 90vw;
    padding-top: 5vw;
    padding-left: 5vh;
    color: #F9DAD3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .descripcion{
    width: 75%;
    padding: 2vw;
    line-height: 2.3vh;
    padding-bottom: 5vh;
}

footer ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    height: 30%;
    padding-inline-start: 0;
}

footer ul li{
    padding-bottom: 3vh;
}

footer ul h2{
    text-decoration: underline;
    letter-spacing: 0.39vw;
}

footer ul li:hover h3{
    display: flex;
    padding-top: 1vh;
}

footer li h3{
    display: none;
}

@media (min-width: 1500px) {

    h1{
        font-size: 2vw;
    }

    h2{
        font-size: 1.5vw;
    }

    h3{
        font-size: 1.3vw;
    }

    .header{
        height: 7vh;
    }

    .header .menu-desplegado{
        width: 15vw;
        padding: 1vw;
        margin-left: 10vw;
        margin-top: 0.5vh;
    }

    .carrito{
        padding-right: 4vw;
    }

    .header img{
        width: 2vw;
    }

    .header .menu-hamburguesa{
        width: 4.4vw;
    }

    nav{
        width: 4vw;
    }

    nav img{
        height: 3vh;
    }

    nav ul{
        padding-left: 1.3vw;
    }

    nav li{
        margin-bottom: 4vh;
    }

    nav:hover li img{
        padding-right: 7vw;
    }

    .container{
        height: 280vh;
    }

    .carrusel-container{
        margin-top: 9vh;
        margin-left: 5vw;
    }

    .carrusel img{
        height: 15vh;
        width: 13vw;
        margin-right: 0.5vw;
    }
    .carrusel.destacado img{
        height: 25vh;
        width: 10vw;
    }

    footer{
        width: 94vw;
    }

    footer ul{
        flex-direction: row;
    }

    footer li{
        padding: 1vw;
        padding-right: 2vw;
    }

    footer ul h2{
        letter-spacing: 0.2vw;
    }

    footer ul li h3{
        display: flex;
        padding-top: 1vh;
    }
}