@font-face {
    font-family: Lato;
    src: url('assets/fonts/Lato-Regular.ttf') format('truetype');
}
*{
    font-family: Lato;
}

span{
    position: inherit;
    width: inherit;
    height: inherit;
}
img{
    padding: 0px;
    margin: 0px;

}

button{
    cursor: pointer;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0px;
    color: transparent;
    font-size: 0px;
}

h1{
    margin: 0%;
    padding: 0%;
    border: 0px;
    color: transparent;
    font-size: 0px;
}
h3{
    width: 467px;
    height: 76px;
    font-size: 40px;
    margin: 10px;
}

/* loader */
 #pantalla-carga{
    width: 1820px;
    height: 1080px;
    background-image: url(./assets/images/ff.png);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carga-container{
    width: fit-content;
    height: 40%;
    display: flex;
    align-items: baseline;  
}
.numero-container{
    display: flex;
    position: relative;
    width: 150px;
    height: 400 px;
    align-items: baseline;
    justify-content: left;
}

.silueta{
    width: inherit;
    position: absolute;
    height: auto;
    opacity: 1;
    transition: opacity 2s ease-out;
    filter: grayscale(100%) brightness(0.3);
}
.numero{
    width: inherit;
    height: auto;
    z-index: 1;
    opacity: 0;
    transition: opacity 2s ease;
    
} 

body{
    width: 100%;
    margin: 0%;
    padding: 0%;
    height: 21015px;
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}
.contenedorhorizontal{
    display: inline;
    
}
.contenedorvertical{
    display: block;
}
#container{
    position: absolute;
    top: 0;
    left: 0;
    width: 1820px;
    height: 21015px;
    display: none;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    overflow-x: hidden;
    margin-left: 50px;
    margin-right: 50px;
}
.ff3{
    background-image:url("assets/images/ff3.png");
    width: 1820px;
    height: 1645px;
    top:4014px;
    position: absolute;
    background-repeat:no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.ff4{
    background-image:url("assets/images/ff4.png");
    position: absolute;
    overflow: hidden;
    background-repeat:no-repeat;
    background-size:cover;
    top: 13477px;
    width: 1820px;
    height: 1838px;
    
}
#ff-1{
    width: 341px;
    height: 447px;
    /* transform: rotate(-6.515deg); */
    flex-shrink: 0;
    top: 749px;
    left: 584px;
    position:absolute;
    z-index: 14;
  }
#ff-2{
    width: 280px;
    height: 383px; 
    /* transform: rotate(-6.716deg); */
    position: absolute;
    top: 605px;
    left: 762px;
    z-index: 13;
}
#ff-3{
    width: 247px;
    height: 546px;
    /* transform: rotate(8.725deg); */
    flex-shrink: 0;
    position: absolute;
    top: 480px;
    left: 1069px;
    z-index: 9;
}
.logo{
    position: fixed;
    top: 10%;
    left: 30%;
    height: 455px;
    width: 796px;
    align-self: center;
}
#titulosegundacara{
    position: absolute;
    top: 85px;
    left: 142px;
    width: 722px;
    height: 189px;
    color: #1B428F;
    font-family: Lato;
    font-size: 66.828px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%
}

.hero-element{
    transition: all 0.5s ease-out;
}

#arbol-izquierda{
    position: absolute;
    width: 796px;
    height: 1233px;
    left: -217px;
    top: -1px;
    z-index: 15;
}
#arbol-derecha-detras{
    position: absolute;
    width: 395px;
    height: 612px;
    left: 1537px;
    top: 395px;
    z-index: 6;
}
#arbol-derecha-delante{
    position: absolute;
    width: 617px;
    height: 956px;
    left: 1252px;
    top: 131px;
    z-index: 10;
}
#arbusto-largo-izquierda{
    width: 355px;
    height: 162px;
    left: 229px;
    top:1020px;
    z-index: 14;
    position: absolute;
}
.inverted{
    transform: rotateY(180deg)
}
#arbusto-largo-derecha-detras{
    width: 271px;
    height: 89px;   
    left: 1463px;
    top:896px;
    position: absolute;
}
#arbusto-largo-derecha-delante{
    
    left: 1537px;
    top:941px;
    width: 347px;
    height: 153px;
    position: absolute;
    z-index: 10;
}
#roca-izquierda{
    width: 206px;
    height: 111px;
    top: 1128px;
    left: 183px;
    position: absolute;
    z-index: 16;
}
#roca-chica-derecha-2{
    width: 94px;
    height: 80px;
    top: 1028px;
    left: 1475px;
    position: absolute;
    z-index: 11;
}
#roca-grande-derecha{
    width: 161px;
    height: 105px;
    top: 1017px;
    left: 1524px;
    position: absolute;
    z-index: 12;
}
#roca-chica-derecha-1{
    width: 84px;
    height: 49px;
    top: 1075px;
    left: 1487px;
    position: absolute;
    z-index: 13;
}
#arbusto-corto-izquierda{
    
    width: 221px;
    height: 145px;
    position: absolute;
    top:1168px;
    left: 280px;
    z-index: 17;
}
.boton-comprar{
    opacity: 0;
    width: 284px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 157.828px;
    border: 11.375px solid #FFF;
    background: #83C252;
    box-shadow: 5.688px 7.109px 0px 0px #02187E;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    z-index: 8;
}

.boton-comprar:hover{
    transition: all 400ms ease-out;
    animation: animacion_comprar 1s ease-in infinite;
}

@keyframes animacion_comprar {
    0%{ 
        background-color: #28a745;
        transform: scale(1);
    }
    50%{ 
        background-color: #ffc107; 
        transform: scale(1.1);
    }
    100%{ 
        background-color: #28a745; 
        transform: scale(1);
    }
}

#ff2-texto-1{
    width: 1001px;
    height: 218.969px;
    color: #1B428F;
    font-family: Lato;
    font-size: 28.438px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 304px;
    left: 142px;
}

.recuadro-video{
    position: relative;
    margin-top: 46px;
    width: 1143.188px;
    height: 642.688px;
    top: 640px;
    left: 100px;
    border-radius: 63.984px;
    border: 41.234px solid #FFF;
}

.recuadro-video iframe{
    width: inherit;
    height: inherit;
}

.ff2-tablet-juego img{
    width: 576px;
    height: 324px;
}
#ff2-456{
    position: absolute;
    width: 855.46px;
    height: 772.424px;
    top: 865px;
    left: 68px;
}
#ff2-5{
    width: 813px;
    height: 1790px;
    left: 1169px;
    top: -104px;
    position: absolute;
}
.contenedor-texto-ff2{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-around;

    
}
#ff2-caja-1{
    bottom: -470px;
    width: 1535px;
    height: 773px;
    left: 142px;
    background-color: white;
}
#ff3-titulo{
    margin-top: 175px;
    width: 1350.781px;
    height: 217.547px;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 86.933px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    left: 165px;
    color:white;
}
#ff3-descarga-numblock{
    width: 767.813px;
    height: 93.844px;
    position: relative;
    top: 140%;
    left: 0;
}

.grupoContainer{
    overflow: hidden;
    position: relative;
}
#ff3-grupo-numeros{
    transition: transform 0.1s;
    will-change: transform;
    width: 2024.75px;
height: 1181.578px;
}
.seccion-larga{
    height: 6521px;
    width: inherit;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:5659px;
    overflow: hidden;
}
.font-size-60{
    font-size: 60px;
}
.titulo-seccionlarga{
    position: relative;
    left: 150px;
    top: 165px;
    color: black;
    width: fit-content;
    height: fit-content;
    font-size: 60px;
    line-height: 56.7px;
    font-weight: 600;
    word-spacing: 20px;
    background-color: white;
}
#seccion-larga-0{
    position: fixed;
    width: 292px;
    height: 436px;
    left: 243px;
    top: 650px;
}

.contenedor-datos{
    position: absolute;
    width: 467px; 
    height: 6354px;
    left: 1013px;
    top: 500px;
}
.contenedor-dato{
    width: 664px;
    height: 210px;
    padding-bottom: 379px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.dato{
    width: inherit;
    height: 210px;
    color: #000;
    font-family: Lato;
    font-size: 28.438px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
}
.titulo-dato{
    width: inherit;
    height: 54px;
    color: #000;
    font-family: Lato;
    font-size: 56.875px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%
}
.titulo-dato.largo{
    height: 76px;
}
.contenedor-dato.largo{
    height: 186px;
}
#ff4-3{
    position: absolute;
    width: 907px;
    height: 1406px;
    top: 450px;
    left: 1039px;
}
#ff4-titulo{
    position: absolute;
    width: 1140px;
    height: 243px;
    left: 142px;
    padding-top: 250px;
    color: #FFF;
    font-size: 60px;
    color: #FFF;
    font-family: Lato;
    font-size: 85.313px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;;
}
.ff2-texto{
    width: 333px;
}
.Efectos3d{
    width: 1820px;
    height: 1470px;
    position:absolute;
    bottom:4114px;
    background-color: white;
}
#efectos3d-1{
    width: 948.391px;
    height: 1383.484px;
    left: 852px;
    top:0px;
    position: absolute;
}
#efectos3d-titulo{
    position: absolute;
    top: 312px;
    left: 157px;
    width: 1060px;
    height: 405px;
    color: #9D2121;
    font-family: Lato;
    font-size: 85.313px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
}
#efectos3d-texto{
    position: absolute;
    width: 664px;
    height: 250px;
    color: #000;
    font-family: Lato;
    font-size: 28.438px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    top: 779px;
    left: 157px;
}
.layer0{
    z-index: 0;
}
.layer1{
    z-index: 1;
}
.layer2{
    z-index: 2;
}
.layer3{
    z-index: 3;
}
.layer5{
    z-index: 5;
}

.layer6{
    z-index: 6;
}
.layer7{
    z-index: 7;
}
.layer8{
    z-index: 8;
}
.personajes-titulo{
    position: absolute;
    top: 0%;
    left: 4%;
}
#primerCara{
    background-image: url("assets/images/ff.png");
    width:1820px;
    height: 1363px; 
    position: absolute;
    overflow: hidden;
    top: 0px;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
  
.segunda-cara{
    background-image:url("assets/images/ff2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width:1820px;
    height: 1271px;

  
}   
.pre-footer{
    height: 1843px;
    width: 1820px;
    position: absolute;
    bottom:800px;
    background-image: url(assets/images/ff5.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
}
#prefooter-titulo{
    width: 1160.25px;
    color: #000;
    font-family: Lato;
    font-size: 85.313px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
    position: absolute;
    top: 0px;
    left: 142px;
}
#prefooter-texto{
    width: 821.844px;
    height: 135.078px;
    flex-shrink: 0;
    color: #000;
    font-family: Lato;
    font-size: 28.438px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    position: absolute;
    top: 450px;
    left: 142px;
}
#prefooter-input{
    position: absolute;
    top: 300px;
    left: 142px;
    width: 1109px;
    height: 100px;
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    filter: drop-shadow(5px 6px 4px rgba(5, 0, 0, 0.7));
}
#prefooter-input input{
    width: 562px;
    height: 100px;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #FFF;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid #FFF;
    background: #ECECEC;
    font-size: 20px;
    line-height: 18.9px;
    font-weight: 400;
    text-indent: 35px;
    letter-spacing: 3px;
}
#prefooter-input button{
    width: 309px;
    height: 120px;
    border-radius: 0px 50px 50px 0px;
    border: 9px solid #FFF;
    background: #83C252;
    color: #FFF;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 18.9px;
    letter-spacing: 2.2px;
}
#prefooter-sello{
    width: 328.453px;
    height: 206.172px;
    position: absolute;
    top: 620px;
    left: 142px;
}
#prefooter-2{
    position: absolute;
    width: 682.5px;
    height: 682.5px;;
    bottom:59px;
    left: 92px;
}
#prefooter-3{
    position: absolute;
    width: 723.734px;
    height: 723.734px;
    bottom:59px;
    left: 578px;
}
#prefooter-7{
    position: absolute;
    width: 797.672px;
    height: 1417.609px;
    bottom:-60px;
    left: 1075px;
    z-index: 2;
}
#prefooter-nube1{
    position: absolute;
    width: 550.266px;
    height: 257.359px;
    top: 870px;
    left: -79px;  
}
#prefooter-nube2{
    position: absolute;
    width: 550.266px;
    height: 257.359px;
    top: 500px;
    left: 1267px;
}
#prefooter-nube3{
    position: absolute;
    width: 376.797px;
    height: 176.313px;
    top: 475px;
    left: 1028px; 
}
footer{
    position: absolute;
    bottom:0%;
    height: 845px;
    display: flex;
    flex-direction: column;
}
.footer-consolas{
    position: relative;
    bottom:0px;        
    width: 1820px;
    height: 113px;
    background: #242424;
}
.footer-consolas img{
    width: 1820px;
    height: 113px;
}
.footer-data{
    width: 1820px;
    height: 732px;
    background: #5E5E5D;
}
#footer-text{
    position: relative;
    top: 20px;
    left: 142px;
    width: 1165.938px;
    color: #FFF;
    font-family: Lato;
    font-size: 28.438px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%; /* 26.873px */
    letter-spacing: 3.128px;
}
#cookie-policy{
    position: absolute;
    bottom: 146px;
    left: 142px;
    color: #FFF;
    font-family: Lato;
    font-size: 28.438px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    letter-spacing: 3.128px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
#footer-redes{
    position: relative;
    width: 301.438px;
    height: 58.297px;
    bottom: 90px;
    left: 142px;
}
.app-mas-divertida{
    width: 1820px;
    height: 2228px;
    position: absolute;
    top: 1362px;
    background-color: white;
}

/*  slider de imagenes  */
#ff2-tablet-slider{
    position: absolute;
    overflow: hidden;
    display: flex;
    width: 819px;
    height: 461px;
    left: 335px;
    top: 500px;
    border-radius: 77px;
    border: 29px solid rgba(27, 95, 153, 1);
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.slider{
    transition: all 600ms ease-in-out;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 819px; 
    height: 461.35px;
}
.slider img{
    width: inherit;
    height: inherit;
}

/**/

/*  menu hamburguesa    */

.menu{
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 0px;
    background: transparent;
    color: transparent;
}

.menu-desplegable{
    position: fixed;
    top: 14.4%;
    left: 2.5%;
    background-color: #E0E1FF;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    transform: translateX(-1000px);
    transition: transfrom 600ms ease-in-out, opacity 800ms ease-in-out;
    z-index: 8;
    opacity: 0;
}

.desplegable-item{
    background-color: #E0E1FF;
    width: fit-content;
    font-size: 40px;
    text-align: center;
    transition: transform 600ms ease-in-out, opacity 800ms ease-in-out;;
    transform: translateX(-1000px);
    opacity: 0;
}

button#menu-hamburguesa.close .linea-menu{
    filter: drop-shadow(4px 5px 0px #02187E);
}

button#menu-hamburguesa.open #hamburguesa-linea1{
    animation: top_barra 600ms ease-in-out;
    animation-fill-mode: forwards;
    filter: drop-shadow(-1px 3px 0px #02187E);
}

button#menu-hamburguesa.open #hamburguesa-linea2{
    animation: middle_barra 1s ease-in-out;
    animation-fill-mode: forwards;
}

button#menu-hamburguesa.open #hamburguesa-linea3{
    animation: bottom_barra 600ms ease-in-out;
    animation-fill-mode: forwards;
    filter: drop-shadow(3.5px 1.9px 0px #02187E);
}

button#menu-hamburguesa.close #hamburguesa-linea1{
    animation: top_barra_close 600ms ease-in-out;
    animation-fill-mode: forwards;
}

button#menu-hamburguesa.close #hamburguesa-linea2{
    animation: middle_barra_close 600ms ease-in-out;
    animation-fill-mode: forwards;
}

button#menu-hamburguesa.close #hamburguesa-linea3{
    animation: bottom_barra_close 600ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes bottom_barra {
    50%, 100%{
        transform: translateY(-12px) rotate(45deg);
    }
}

@keyframes top_barra {
    50%, 100%{
        transform: translateY(11px) rotate(-45deg);
    }
}

@keyframes middle_barra {
    20%, 100%{
        opacity: 0;
    }
}

@keyframes bottom_barra_close {
    0%, 50%{
        transform: translateY(-12px) rotate(45deg);
    }
    50%, 100%{
        transform: translateY(0px) rotate(0deg);
    }

}

@keyframes top_barra_close {
    0%, 50%{
        transform: translateY(12px) rotate(-45deg);
    }
    50%, 100%{
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes middle_barra_close {
    0%, 50%{
        opacity: 0;
    }
    50%, 100%{
        opacity: 1;
    }
}

/*  parallax nubes del prefooter    */

#prefooter-nube1{
    animation: parallax-nube1 20s ease-in-out infinite;
}

#prefooter-nube2{
    animation: parallax-nube2 20s ease-in-out infinite;
}

#prefooter-nube3{
    animation: parallax-nube3 15s ease-in-out infinite;
}

@keyframes parallax-nube3 {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-25px) translateY(-25px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes parallax-nube2 {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(50px) translateY(20px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes parallax-nube1 {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(75px) translateY(25px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* inciso 9 */

.titulo-seccionlarga{
    position: relative;
    left: 150px;
    top: -10px;
    padding-top: 200px;
    color: black;
    width: fit-content;
    height: fit-content;
}

.seccion-larga-0{
    position: relative;
    width: auto;
    height: 436px;
    left: 19%;
    top: 25%;
    opacity: 1;
    transition: opacity 1s ease;
    pointer-events: none;
    z-index: -1;
}

.reveal{
    transition: all 1s ease;
    animation: image-reveal 500ms ease-out forwards;
}

.fixed{
    position: fixed;
}

@keyframes image-reveal {
    from{
      transform: scale(0.75);
      opacity: 0;
      z-index: -1;
    }to{
      transform: scale(1);
      opacity: 1;
      z-index: 1;
    }
  }

.sticky-slider{
    width: 50%;
    height: 90%;
    margin-top: 10%;
}


/*  animacion cards "la app mas divertida" */

.card-app{
    transition: all 1s ease-out;
    transform: translateY(1000px);
}

.card-app p{
    font-size: 20px;
    line-height: 24px;
}

.appear{
    transform: translateY(0px);
    animation-fill-mode: forwards;
}

/*  spritesheets    */

#spritesheet1{
    position: relative;
    width: 500px;
    height: 170px;
    top: 76%;
    left: -7%;

    background: url('assets/images/Numbers\ spritesheet-corrected.png') no-repeat;
    animation: count 2s steps(14) infinite;
}

@keyframes count {
    from{
        background-position: 0px;
    }to{
        background-position: -7000px;
    }
}

#spritesheet2{
    position: relative;
    width: 48px;
    height: 60px;
    top: 10%;
    left: 90%;

    background: url('assets/images/spritesheet-spinning-number-ezgif.com-reverse.png') no-repeat;
    animation: spinning-number 1.5s steps(13) infinite;
}

@keyframes count-round {
    from{
        background-position: 0px;
    }to{
        background-position: -38000px;
    }
}

#spritesheet3{
    position: relative;
    width: 48px;
    height: 60px;
    top: 40%;
    left: 30%;

    background: url('assets/images/spritesheet-spinning-number.png') no-repeat;
    animation: spinning-number 1.5s steps(13) infinite;
}

@keyframes spinning-number {
    from{
        background-position: 0px;
    }to{
        background-position: -623px;
    }
}
@keyframes boton-sticky {
    0%{
        transform: opacity(0);
        transform: translateX(150px);
    } 
    100%{
        transform: opacity(1);
        transform: translateX(0px);
    }
}
.boton-comprar-2{
    opacity: 1;
    width: 200px;
    height: 50px;
    border-radius: 111px;
    border: 8px solid #FFF;
    background: #83C252;
    box-shadow: 4px 5px 0px 0px #02187E;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    z-index: 8;
}
.boton-comprar-2-animacion{
    animation: boton-sticky 1s ease-in ;
}
.boton-comprar-2-posicion{
    right: 20%;
}
.boton-comprar-2:hover{
    transition: all 400ms ease-out;
    animation: animacion_comprar 1s ease-in infinite;
}


/*  inciso 12 grilla colores*/

.grilla-colores{
    position: absolute;
    top: 17200px;
    height: 1036px;
    width: 1842px;
    background-image: url(assets/images/455.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.pj-grilla{
    margin: 0px;
    width: auto;
    height: auto;
    transition: all 300ms ease-in-out;
    transform-origin: bottom;
}

.pj-grilla:hover{
    animation: destacar-pj 500ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes destacar-pj {
    from{
        transform: scale(1);
    }to{
        transform: scale(1.1);
        filter: drop-shadow(0 0 15px rgba(255, 255, 153, 1));
    }
}

/**/

#object-3d{
    position: absolute;
    top: 241px;
    left: 1000px;
    width: 800px;
    height: 973px;
}

.logo-sticky{
    padding-top: 0px;
    padding-left: 0px;
    position: relative;
    top: 0;
    left: 5%;
    width: 280px;
    height: 170px;
    animation: logo-sticky 2s ease forwards;
 
}
@keyframes logo-sticky {
    0% {
        top: 5%;
        width:796px;
        height: 455px;
        }

    100%{
        width: 280px;
        height: 170px;
        top: 0;
    }    
}
.position-absolute{
    position: absolute;
}

nav{
    overflow-x: hidden;
    width: 100%;
    height: fit-content;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-around;
    margin-top: 70px;
}

.nav{
    position: fixed;
    top: 0px;
    width: 1620px;
    padding-left: 100px;
    padding-right: 100px;
    height: 160px;
    margin-top: 0px;
    align-items: center;
    background-image: linear-gradient(rgb(76, 250, 250, 1),rgb(76, 250, 250, 0.2));
    justify-content: space-between;
    transition: height 1s ease, background-color 5s ease-out;
    animation: nav-scroll 2s ease forwards;
    overflow: hidden;
}


@keyframes nav-scroll {
    0%{
        height: 75%;
    }
    100%{
        height: 160px;
    }
}
.menu-2{
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 0px;
    background: transparent;
    color: transparent;
    animation: menu-2 1s ease-in;
}
@keyframes menu-2 {
    0%{
        transform: opacity(0);
        transform: translateX(-150px);
    } 100% {
        transform: scale(1);
        transform: translate(0px);
    }
}
#pj-grilla-1{
   top:10px;
   left: 10px;
}